
.F{
  padding:10px 0px 10px 0px;
  display:flex;
  flex-direction:column;
  color:white;

}
.U{
  margin: 0px 0px 10px 0px;
  width: 100% ;
  border:1px solid white;
  background:grey
}
.label{
  font-size:30px ;
 color:white
}
