.C{
           /* width:50%; */
           padding: 20px 0px 0px 20px;
}
.A{
           background:gold;
           color:#fff
}
.body{
           background: url('https://images.pexels.com/photos/115655/pexels-photo-115655.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260') no-repeat;
           background-size: cover;
           background-position: center;
           height:100vh;
           width:100vw;
}