body{
  font-family: 'Oswald', sans-serif;
  /* text-align:center; */
  background:grey;
  color:white
}
.todo{
  border:2px solid white;
  background:grey;
  width:100%;
  padding:0% 30% 0% 30%;
  overflow-x :hidden
}